streamlit
langchain
langchain-community
langchain-chroma
langchain-huggingface
langchain-core
langchain-classic
langchain-text-splitters
chromadb
pypdf
sentence-transformers
python-multipart
huggingface_hub
python-dotenv
